body {
  margin: 0;
  padding: 0
}

img {
  max-width: 100%;
  max-height: 100%
}

h3 {
  width: 200px
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

/* .form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row
} */

.list-container {
  display: flex;
  flex-wrap: wrap
}

/* input, textarea {
  width: 100px
} */

.input {
  display: inline-flex;
  padding: 5px
}