* {
  font-family: 'Rubik', sans-serif;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(207, 232, 228)
}

button {
  background-color: rgb(172, 216, 219);
  border: none;
  border-radius: 12px;
  width: 432px;
  height: 70.8px
}

img {
  width: 100%;
  max-height: 100%
}

input, textarea {
  border: none;
  border-radius: 12px;
}

input, h3, .item {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

h1 {
  color: rgb(172, 186, 104);
  font-size: 100px
}

h1, form {
  text-align: center;
}

label {
  color: rgb(172, 186, 104);
  padding: 0 10px 0 0;
  font-size: 30px
}

span {
  color: rgb(0, 0, 0);
  background-color: lightblue;
}

textarea {
  width: 300px;
  height: 150px;
  color: rgb(0, 0, 0);
}

/* .app {
  width: 100%;
} */

.app, .archive, .home {
  width: 100%;
}

/* .archive {
  width: 100%;
} */

.background {
  background-image: url(https://i.imgur.com/RjvtXBV.png);
  background-size: 100% 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

/* .form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row
} */

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

/* input, textarea {
  width: 100px
} */

.input {
  display: inline-flex;
  padding: 25px
}

.footer {
  position: absolute;
  width: 100%;
  height: 318.6px;
  background-image: url(https://i.imgur.com/YAZI2pQ.jpg);
  background-size: 100% 100%;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
  width: 460.8px;
  height: 525px;
}

.form-submit {
  width: 144px;
  height: 35.4px;
  font-size: 20px
}

.home-button {
  font-size: 50px;
}

.item-list {
  padding: 100px 0 0 50px;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  textarea {
    width: 150px
  }
  .buttons {
    display: flex;
  }

  .home-button {
    margin: 10px
  }

  .footer {
    height: 165px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .home-button {
    margin: 10px;
    width: 300px
  }

  .footer {
    height: 165px;
  }

  .list {
    width: 350px
  }
}