* {
  font-family: 'Quicksand', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(207, 232, 228)
}

button {
  background-color: rgb(172, 216, 219);
  border: none;
  border-radius: 12px;
  width: 432px;
  height: 70.8px
}

img {
  max-width: 100%;
  max-height: 100%
}

h3 {
  /* width: 200px */
}

span {
  background-color: lightblue;
}

textarea {
  width: 300px;
  height: 150px
}

.app {
  width: 100vw;
}

.home, .archive {
  width: 100%;
}

/* .archive {
  width: 100%;
} */

.background {
  background-image: url(https://i.imgur.com/RjvtXBV.png);
  background-size: 100% 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

/* .form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row
} */

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}

/* input, textarea {
  width: 100px
} */

.input {
  display: inline-flex;
  padding: 5px
}

.footer {
  position: absolute;
  width: 100%;
  height: 318.6px;
  background-image: url(https://i.imgur.com/YAZI2pQ.jpg);
  background-size: 100% 100%;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
  width: 460.8px;
  height: 100%
}

.form-submit {
  width: 144px;
  height: 35.4px
}

.home-button {
  font-size: 35px
}

.item-list {
  padding: 100px 0 0 50px;
}