body {
  margin: 0;
  padding: 0;
  background-color: rgb(207, 232, 228)
}

button {
  background-color: rgb(172, 216, 219);
  border: none;
  border-radius: 12px;
  width: 30vw;
  height: 10vh
}

img {
  max-width: 100%;
  max-height: 100%
}

h3 {
  width: 200px
}

span {
  background-color: lightblue;
}

textarea {
  width: 300px;
  height: 150px
}

.background {
  background-image: url(https://i.imgur.com/RjvtXBV.png);
  background-size: 100% 100%
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

/* .form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row
} */

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px
}

/* input, textarea {
  width: 100px
} */

.input {
  display: inline-flex;
  padding: 5px
}

.footer {
  position: absolute;
  width: 100%;
  height: 45vh;
  background-image: url(https://i.imgur.com/YAZI2pQ.jpg);
  background-size: 100% 100%;
}

.list {
  width: 100%;
  height: 100%
}